body
{
background-position: center;
background-size: cover;
}

.heading
{
font-size: 25px;
width: 100%;
margin: 0px;
}

#status , #number_of_objects
{
font-size: 20px;
}

canvas
{
box-shadow: 5px 5px 5px whitesmoke;
border-radius: 100px;
margin-top: 20px;
}
